[submodule "frontend"]
	path = frontend
	url = https://github.com/BuddyAnonymous/solship-frontend
[submodule "contracts"]
	path = contracts
	url = https://github.com/BuddyAnonymous/solship-contracts
[submodule "backend"]
	path = backend
	url = https://github.com/panicd9/solship-backend
